<ng2-smart-table [settings]="settings" [source]="processes"></ng2-smart-table>

<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-header">
        Creacion de procesos
    </div>

    <div class="card-header card-subheader">

    </div>
    <div class="card-body">
        <form id="formUsuarios" class="row">
            <div class="col-lg-6">
                <div class="bs-component">

                </div>
            </div>

            <div class="col-lg-6">
                <div class="bs-component">

                </div>
            </div>
        </form>
    </div>
</div>
