a {
  color: #21252A;
  text-decoration: none;
  position: relative;
  width: 100%;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}


*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #333;
}

*::-webkit-scrollbar {
  overflow: visible;
  width: 8px;
  display: none;
  background-color: #333;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

*::-webkit-scrollbar-corner {
  background-color: #333;
}

body {
  background: #E9E9E9;
  overflow-y: scroll;
  overflow-x: hidden;
}

body>.container {
  top: 80px;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

/* HEAD & Menu Styles */

#menu-container {
  /* Style */
  /* Location */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  /* Display */
  display: block;
  z-index: 1;
  /* Size */
  width: 100vw;
  /* Spacing */
  margin: 0;
  padding: 0;
}

/* ===================== MENU ===================== */

header {
  top: 0;
  z-index: 10;
  position: fixed;
}

#head {
  /* Style */
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* Location */
  top: 0;
  right: 0;
  left: 0;
  /* Display */
  position: relative;
  display: table;
  /* Size */
  height: 30px;
  width: 100vw;
  /* Spacing */
  margin: 0;
  padding: 5px;
}

#head>* {
  /* Display */
  display: table-cell;
  height: 100%;
}

/* ================= Logo ===================*/

#logo {
  background-image: url("https://i.imgur.com/Q4lljkJ.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  margin: 20px;
}

/* ================= Opener ================= */

#menu-opener {
  /* Style */
  color: #ADB7C4;
  font-size: 25px;
  vertical-align: middle;
  /* Display */
  display: table-cell;
  /* Size */
  height: 100%;
  width: 50px;
  /* Spacing */
  padding: 0 40px 0 15px;
}

#menu-opener:hover {
  color: #1e2b37;
  cursor: pointer;
}

#menu-opener:active {
  color: #182530;
}

/* ====================== Head buttons ========================= */

#head-buttons {
  /* Style */
  list-style: none;
  /* Location */
  vertical-align: middle;
  /* Display */
  position: relative;
  display: table-cell;
  /* Size */
  height: 100%;
  width: auto;
  /* Spacing */
  margin: 0;
  padding: 0 15px;
}

#head-buttons .head-button {
  /* Style */
  color: #678195;
  /* Location */
  /* Display */
  position: relative;
  display: inline-block;
  /* Size */
  /* Spacing */
  margin: 0 15px 0 0;
  padding: 0;
}

#head-buttons .head-button:hover {
  color: #ADB7C4;
}

#head-buttons .head-button.salir {
  float: right;
}

/* ===================== DRAWING ===================== */

#drawing.show-menu {
  height: 140px;
  transition: 0.4s linear;
}

#drawing.expand-menu {
  height: auto;
  transition: 0.4s linear;
}

#drawing {
  /* Style */
  background: #2A2A2A;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* Location */
  bottom: 0;
  left: 0;
  /* Display */
  position: relative;
  display: block;
  overflow: hidden;
  /* Size */
  height: 0;
  width: 100vw;
  /* Spacing */
  margin: 0;
  padding: 0;
  transition: 0.4s linear;
}

#expand-list {
  height: auto;
  width: 100vw;
  text-align: center;
  font-weight: bolder;
  padding: 5px;
  display: table;
  color: #fff;
  background: #FF0048;
  z-index: 1;
}

#expand-list i {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

#expand-list i.fa-times {
  display: none;
  position: absolute;
  right: 10px;
  z-index: 10;
}

#drawing-list {
  /* Style */
  list-style: none;
  /* Location */
  vertical-align: middle;
  /* Display */
  position: relative;
  display: table;
  overflow: hidden;
  /* Size */
  height: 140px;
  width: 100%;
  /* Spacing */
  margin: 0;
  padding: 0;
}

#drawing-list a:last-of-type .drawing-list-item:before {
  display: none;
}

#drawing-list .drawing-list-item.drawing-item-user:before {
  content: "";
  position: absolute;
  right: 0;
  top: 20px;
  bottom: 20px;
  height: auto;
  width: 1px;
  border-right: 2px solid #5e5e5e;
}

#drawing-list .drawing-list-item.drawing-item-user .drawing-picture {
  background-image: url("/Content/Imgs/profile_thumbnail.png");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

#drawing-list .drawing-list-item {
  /* Style */
  color: #FEFEE0;
  /* Location */
  vertical-align: middle;
  /* Display */
  position: relative;
  display: table-cell;
  /* Size */
  height: 140px;
  width: 150px;
  /* Spacing */
  margin: 10px;
  padding: 10px;
}

#drawing-list .drawing-list-item:hover {
  background: #272727;
}

#drawing-list .drawing-list-item:active {
  background: #232323;
}

#drawing-list .drawing-list-item .drawing-icon {
  /* Style */
  font-size: 35px;
  /* Location */
  text-align: center;
  /* Display */
  position: relative;
  display: block;
  /* Size */
  height: 50%;
  width: auto;
  /* Spacing */
  padding: 5px;
  /* Transformations */
}

#drawing-list .drawing-list-item .drawing-icon i {
  vertical-align: middle;
}

#drawing-list .drawing-list-item .drawing-text {
  /* Style */
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  /* Location */
  /* Display */
  position: relative;
  display: block;
  /* Size */
  height: 50%;
  width: auto;
  /* Spacing */
  padding: 5px 0 0;
}
