<footer>
  <div id="hs-social">
    <div id="hs-social-hearth">
      <div>
        <i class="fas fa-heart fa-3x pulsate"></i>
      </div>
    </div>
    <div class="hs-social-buttons hs-social-left">
      <ul>
        <li>
          <i class="fab fa-facebook-square fa-3x"></i>
        </li>
        <li>
          <i class="fab fa-twitter-square fa-3x"></i>
        </li>
      </ul>
    </div>
    <div class="hs-social-buttons hs-social-right">
      <ul>
        <li>
          <i class="fab fa-github-square fa-3x"></i>
        </li>
        <li>
          <i class="fab fa-linkedin fa-3x"></i>
        </li>
      </ul>
    </div>
  </div>
  <div id="hs-contacts">
    <div class="title" align="center">
      <h1>Contacto</h1>
    </div>
    <div>
      <ul align="center">
        <li id="hs-contact">
          <div id="hs-contact-content">
            <h1>Epic Patterns</h1>
            <p>
              <span>Telefono:</span> +506 8601-3609
            </p>
            <p>
              <span>Ubicacion:</span> San Jose
            </p>
            <p>
              <span>Correo:</span> info@epicpatterns.co.cr
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="hs-rights">
    <div id="hs-copyright">
      <p>Copyright © 2018 La Terminal All Rights Reserved. Powered by Quantum Coding.</p>
    </div>
    <div id="hs-payment">
      <ul>
        <li>
          <i class="fab fa-cc-visa fa-3x"></i>
        </li>
        <li>
          <i class="fab fa-cc-mastercard fa-3x"></i>
        </li>
        <li>
          <i class="fab fa-cc-amex fa-3x"></i>
        </li>
        <li>
          <i class="fab fa-cc-paypal fa-3x"></i>
        </li>
      </ul>
    </div>
  </div>
</footer>