<div class="log-container card mb-3 center-log">
  <div class="log-head card-header"><img src="../../../../../assets/images/procesos.png" alt="logoEventory"></div>
      <div class="log-body card-body">
          <h4 class="card-title">Login</h4>
              <div class="form-group">
                  <label class="control-label">Nombre Usuario</label>
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" aria-label="Enter the username" id="userName" name="userName">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label">Password</label>
                  <div class="form-group">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="fa fa-lock" aria-hidden="true"></i>
                              </span>
                          </div>
                          <input type="password" class="form-control" aria-label="Enter the password" id="password" name="cachePassword">
                      </div>
                  </div>
              </div>
          <input type="button" class="log-send btn btn-primary" id="loginButton" value="Iniciar ahora!"  (click)="loginFunc()" >
      </div>
</div>
